@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* Basic CSS Defaulting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background: #ffffff;
    min-height: 100vh;
    scroll-snap-type: y mandatory;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: #094b65;
}

::-webkit-scrollbar-thumb {
    background-color: white;
}

/* Text Selection */
::-moz-selection { 
    color: white;
    background: #094b65;
  }
  
  ::selection {
    color: white;
    background: #094b65;
  }

/* Navbar */
#header {
    position: fixed;
    top: 0;
    left: 0;
    max-height: 40px;
    width: 100%;
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    border-radius: 10px;
    margin: 5px;
}

#header .logo img {
    color: #ffffff;
    max-height: 40px;
    font-family: 'Marck Script', cursive;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

#header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#header ul li
{
    list-style: none;
    margin-left: 20px;
}

#header ul li a
{
    text-decoration: none; 
    transition: ease-in-out 0.2s;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

#header ul li a:hover,
#header ul li a.active
{
    background: #fff;
    color: #094b65;
}

/* Background */
#bg {
    position: fixed;
    width: 100%;
    height: auto;
}

hr {
    position: relative;
    margin-left: 10%;
    width: 80%;
    color: white;
}

a#backtotop {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    bottom: 50px;
    text-align: center;
    width: 110px;
    height: 40px;
    background-color: #094b65;
    color: white;
    box-shadow: -1px 3px 1px 1px rgba(0, 0, 0, 0.457);
    z-index: 1000;
}

/* Basic Structure for each location */
/* Locations Landing */
section#landing {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 100px;
    gap: 100px;
}

section#landing div.content {
    color: rgb(255, 255, 255);
    min-width: 600px;
    height: 100%;
}

section#landing div.content h1 {
    font-size: 3.5em;
}

section#landing div.content h1 span{
    color: #094b65;
}

section#landing div.content p {
    color: #d9d9d9;
    margin-top: 1.5em;
    font-size: 1.3em;
}

section#landing div.content div {
    margin-top: 3em;
    width: 100%;
    min-height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: baseline;
}

section#landing div.content div a {
    color: white;
    margin: 5px;
    background-color: #094b65;
    border-radius: 7px;
    padding: 10px;
    font-size: 1.2em;
    transition: 0.5s ease-in-out;
}

section#landing div.content div a:hover {
    color: #094b65;
    background-color: white;
}

section#landing div.container {
    position: relative;
    right: 1.5em;
    min-width: 350px;
    max-width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

section#landing div.container div.element {
    position: relative;
    width: 35px;
    height: 35px;
    background: white;
    scale: 0.75;
}

section#landing div.container div.element2 {
    background: #094b65;
}

/* Right Sided Locations */
section.locationRight {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.locationRight div.container {
    position: absolute;
    left: 3em;
    width: 45%;
    color: #094b65;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 5px 5px 2px rgba(0, 0, 0, 0.513);
}

section.locationRight div.container h1 {
    padding: 7px;
    border-radius: 7px;
    background: #094b65;
    color: white;
}

section.locationRight div.container p {
    margin-left: 15px;
    padding: 7px;
    padding-top: 0;
    transform: translateY(-4px);
}

section.locationRight div.img {
    width: 55%;
    height: 90vh;
}

section.locationRight div.img img {
    position: absolute;
    right: 3em;
    width: 37em;
    height: auto;
}

section.locationRight div.container::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 5px;
    height: 60%;
    background: #094b65;
}

/* Left Sided Locations */
section.locationLeft {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.locationLeft div.container {
    padding: 10px;
    position: absolute;
    border-radius: 10px;
    right: 3em;
    width: 45%;
    color: #094b65;
    text-align: right;
    background: white;
    box-shadow: 3px 5px 5px 2px rgba(0, 0, 0, 0.513);
}

section.locationLeft div.container h1 {
    padding: 7px;
    border-radius: 7px;
    background: #094b65;
    color: white;
}

section.locationLeft div.container p {
    margin-right: 15px;
    padding: 7px;
    padding-top: 0;
    transform: translateY(-4px);
}

section.locationLeft div.img {
    width: 55%;
    height: 90vh;
}

section.locationLeft div.img img {
    position: absolute;
    left: 3em;
    width: 37em;
    height: auto;
}

section.locationLeft div.container::before {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    width: 5px;
    height: 60%;
    background: #094b65;
}

a#more {
   position: relative;
   height: 40px; 
   width: 100%;
   margin-left: 45vw;
   padding: 15px;
   border-radius: 5px;
   color: white;
   background-color: #094b65;
   transition: 0.5s ease-in-out;
}

a#more:hover {
    color: #094b65;
    background-color: white;
}

/* Footer */
#footer {
    position: relative;
    margin-top: 38px;;
    min-height: 40px;
    width: 100%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    color: white;
}

#footer span {
    position: absolute;
    right: 30px;
}